* {
    margin: 0;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
}

header {
    text-align: center;
    padding: 20px;
}

form {
    display: none;
}

.show {
    display: block;
    margin-left: 40px;
    margin-top: 20px;
}

.incomplete {
    padding-top: 20px;
}

.library {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.library-book {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 40px;
    padding-top: 20px;
}

.complete {
    padding-top: 30px;
}

.completed-book {
    display: flex;
    padding-bottom: 50px;
    flex-wrap: wrap;
}


.author,
.title,
.pages{
    margin-top: 20px;
}

.read,
.remove {
    margin-top: 10px;
}

.new-book {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.new-book button {
    padding: 20px;
    border-radius: 5px;
}

.book-form {
    display: flex;
}

footer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}