* {
    margin: 0;
}

body {
    background-color: rgba(54, 32, 2, 0.945);
    overflow: hidden;
}

.container {
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
    border: 1px solid black;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
  }

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:rgba(116, 96, 68, 0.945);
    height: 60px;
    border-bottom: 2px solid black;
}

form {
    display: none;
}

.incomplete {
    color: white;
    text-shadow: 2px 2px black;
    padding-top: 20px;
    margin-left: 20px;
    border: 1px solid black;
    font-size: 1.5rem;
}

.library{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.library-book {
    display: flex;
    background-color:rgba(116, 96, 68, 0.945);
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 1rem;
    padding: .5em;
    border-radius: .2em;
    width: 8em;
    min-height: 10rem;
    overflow-wrap: break-word;
}

.complete {
    margin-top: 2em;
    color: white;
    text-shadow: 2px 2px black;
    margin-left: 20px;
    font-size: 1.5rem;
}

.completed-book {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.author,
.title,
.pages {
    min-height: 1.25rem;
}

.author,
.pages{
    margin-top: 1rem;
}

.title {
    font-weight: bold;
}

.author {
    font-style: italic;
}

.read {
    margin-top: 1.5rem;
    padding: .5em 1em;
}

.remove {
    margin-top: .7rem;
    padding: .5em 1em;
}

.new-book {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 1px solid black;
}

.new-book button {
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
}

.show {
    margin-top: 1rem;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 18.25rem;
    background-color:rgba(116, 96, 68, 0.945);
    padding: .2em .5em;
    border-radius: .2em;
}

.form-author,
.form-title,
.form-pages,
.form-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}

.form-read {
    margin-top: 1em;
}

.form-read input {
    margin-left: 1.25em;
    outline: none;
}

.form-submit {
    margin: 1rem 0 .5rem 0;
    display: flex;
    padding: 0;
}

label {
    margin-right: 10px;
}

input {
    margin-left: 0;
    border: 1px solid black;
    outline: none;
}

.form-submit input {
    padding: 1em;
    border-radius: 5px;
    border: 1px solid grey;
    margin-left: 0;

}

footer {
    display: flex;
    background-color:rgba(116, 96, 68, 0.945);
    height: 50px;
    border-top: 2px solid black;
    justify-content: center;
    align-items: center;
}